div.photo1 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.photo1:hover {
    border: 1px solid #777;
  }
  
  div.photo1 img {
    width: 100%;
    height: auto;
  }
  
  div.description {
    padding: 15px;
    text-align: center;
  }